<html>
<head>
	<title></title>
    <style type="text/css">
        body  { font-size:20px; } 
        input { font-size:20px; } 
        .inp  { width: 300px; margin-right:40px;}
        .btn  { width: 100px; margin-left:40px;}
    </style>
</head>

<body>
	<p><h1><%= title %></h1></p>

	<p><%= status %></p>

	<form name="input" action="/" method="get">
	            <input class="btn" type="submit" value="Home" />
	</form>

</body>
</html>